{% extends "index.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
       <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <table border="1px"  class="table table-striped  table-dark">
     <tr><th>S.no</th>
         <th>username</th>
    <th>Name</th>
    <th>Reg No</th>
    <th>Department</th>
    <th>Complaint</th>
     </tr>
    {% for data in datas %}
   <tr><td>{{forloop.counter}}</td>
          <td>{{data.name}}</td>
    <td>{{data.regno}}</td>
    <td>{{data.dept}}</td>
    <td>{{data.complaint}}</td><tr>
{% endfor %}
</table>

</body>
</html>